@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #2c5b4c;
  --secondary: #8FB2A2;
  --neutral : #F2F7F5;
  --hero-background:#E0F2F1;


}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #0F172A;
    --hero-background:#0a0a0a;
    --secondary: #5E8C7E;
    --neutral: #ffffff;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

@layer components {
  .btn-primary {
    @apply bg-primary text-white text-lg font-bold px-10 py-5 rounded-full shadow-xl shadow-primary/30 hover:scale-[1.02] active:scale-[0.98] transition-all;
  }

  .btn-secondary {
    @apply bg-white text-slate-700 border border-slate-200 text-lg font-bold px-10 py-5 rounded-full hover:bg-slate-50 transition-all
  }

  .container-center {
    @apply max-w-6xl mx-auto px-4;
  }
}

@layer utilities {
  .hero-pattern {
    /* background-color: var(--background); */
    background-color: var(--hero-background);
    background-image: radial-gradient(#d1dbd4 0.5px, transparent 0.5px);
    background-size: 24px 24px;
  }

  .soft-shadow {
    box-shadow: 0 10px 30px -10px rgba(45, 90, 76, 0.1);
  }

  .connection-line {
    background: linear-gradient(90deg, transparent, #5e8c7e 50%, transparent);
    height: 2px;
    width: 100%;
  }
}